@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    padding: 0;
    margin: 15;
    box-sizing: border-box;
    background-color:rgb(151, 113, 113);
}

#grid_wrapper {
    display: grid;
    height: 100vh;
    width: 100vh;
    grid-template-areas:
    "he"
    "na"
    "ar"
    "fo"
    "di";
    grid-template-columns:1245px;
    grid-template-rows: 100px 50px 500px 100px;
}


header {
    grid-area: he;
    background-color: rgb(118, 72, 72);
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    font-family: 'Luckiest Guy', cursive;
}


nav {
    grid-area: na;
    background-color: rgb(118, 72, 72);
    display: flex;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    font-family: 'Luckiest Guy', cursive;
}


a {
    font-size: 25px;
    color: transparent;
    background-color: transparent;
}


article {
    grid-area: ar;
    background-color: rgb(118, 72, 72);
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    align-items: center;
    height: 490px;
    font-family: 'Luckiest Guy', cursive;
}

#flamingo_img {
    background: url("../img/animals/flamingo.png");
}


footer {
    grid-area: fo;
    background-color:rgb(118, 72, 72);;
    height: 530px;
    width: 1245px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;   
}

section {
    background-color:rgb(118, 72, 72);
    height: 330px;
    width: 250px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;   
}


p {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    background-color: rgb(118, 72, 72);
}


h1 {
    font-size: 45px;
    color: white;
    background-color: rgb(118, 72, 72);
}


h2 {
    font-size: 25px;
    color: white;
    background-color: rgb(118, 72, 72);
}


h3 {
    font-size: 45px;
    justify-content: center;
    display: flex;
    color: white;
    background-color: transparent;
}


h4 {
    font-size: 22px;
    justify-content: center;
    display: flex;
    color: white;
    background-color: rgb(118, 72, 72);
}


h5 {
    font-size: 22px;
    justify-content: center;
    display: flex;  
    color: white;
    background-color: rgb(118, 72, 72);
}


h6 {
    font-size: 22px;
    justify-content: center;
    display: flex;  
    color: white;
    background-color: rgb(118, 72, 72);
}

section {
    width: 1245px;
    height: 490px;
}

#personal_section {
    display: flex;
}

.article {
    width: 150px;
    height: 210px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


#article_person1 {
    background: url("../img/persons/avatar-1b1afc16e9bc79edbb292d32abbc2a86.jpg");
    background-size: contain;
    height: 100px;
}

#article_person2 {
    background: url("../img/persons/avatar-7e6c3ea471a1ac6911e35c6b3fa46870.jpg");
    background-size: contain;
}

#article_person3 {
    background: url("../img/persons/avatar-23fdc1d1c52f710520d659f56a264b40.jpg");
    background-size: contain;
}

#article_person4 {
    background: url("../img/persons/avatar-a4d4b8b36e435311d8e7e13a8e207118.jpg");
    background-size: contain;
}

#article_person5 {
    background: url("../img/persons/avatar-aea3441ddc1173c3b63794fe1ebcce0e.jpg;");   
    background-size: contain;
}


#restaurang_section {
    display: flex;
}

.restaurang {
    width: 150px;
    height: 210px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}




a:hover {
    pointer-events: stroke;
}


button:hover {
    background-color: black;
    transition: 0.2;
}